# Ignorar a planilha de chaves de acesso
Chaves_de_Acesso.xlsx

# Ignorar XMLs baixados
XML/
*.xml
*.crdownload

# Ignorar arquivos temporários do Python
__pycache__/
*.pyc
*.pyo

# Ignorar ambientes virtuais
venv/
.venv/

# Ignorar configurações do sistema operacional / IDE
.DS_Store
*.swp
*.swo
.vscode/
.idea/
